Package: com.autopear.noyahoo
Version: 2.0
Section: Tweak
Maintainer: BigBoss <bigboss@thebigboss.org>
Depends: firmware (>= 7.0), mobilesubstrate (>= 0.9.5000)
Replaces: com.autopear.nccleaner
Conflicts: com.autopear.nccleaner
Architecture: iphoneos-arm
Name: No Yahoo!
Priority: optional
Description: No Yahoo! in NC, Stocks and Weather.
Sponsor: thebigboss.org <http://thebigboss.org>
Author: Merlin
Tag: role:enduser
dev: lonelystars
